<section class="container col-3 ">
    <div class="d-flex flex-column-reverse bg-dark justify-content-center">
        {{#each runs}}
        
            <div class="  m-5 p-5 text-center bg-light text-dark ">
        
                <h3>{{User.username}}</h3>
                <hr>
                {{!-- <div>{{location}}</div> --}}
                <div>{{distance}} mi</div>
                <div>{{duration}} min</div>
                
                <div>{{notes}}</div>
            
            </div>
        

        {{/each}}
        <br>
    </div>

    
</section>