<section class="container col-8">
   
    {{#each runs}}
    <div class="card text-bg-dark gradient mb-3 " style="w-80">
        <div class="card-header">
            <h4>{{User.username}} </h4>
            <h6 class="card-subtitle mb-2 text-muted">{{format_date date_created}}</h6>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{distance}} mi</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{duration}} min</h6>
            <p class="card-text">{{notes}}</p>
        </div>
       
    </div>
 {{/each}}

</section>