  <section class="container ">
        <div class="d-flex justify-content-center">
            <div class="p-5 text-center bg-dark text-light col-6">
                <h3>{{username}}</h3>
                <div>{{location}}</div>
                <div>{{time}}</div>
                <div>{{distance}}</div>
                <div>{{description}}</div>
            </div>
        </div>

        <hr>